<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.array.coursedataservice.mapper.CourseMapper">
    <insert id="addCourse" parameterType="com.array.commonmodule.bean.Course">
        insert into course set courseId=#{courseId},teacherId=#{teacherId},courseName=#{courseName}
    </insert>
    <delete id="deleteCourse">
        delete from course where courseId=#{courseId}
    </delete>
    <update id="updateCourse" parameterType="com.array.commonmodule.bean.Course">
        update course set courseId=#{courseId},teacherId=#{teacherId},courseName=#{courseName}
        <if test="examId!=null and examId!=''">
            ,examId=#{examId}
        </if>
        where courseId=#{courseId}
    </update>
    <select id="findCourseById" resultType="com.array.commonmodule.bean.Course">
        select * from course where courseId=#{courseId}
    </select>
    <select id="findCourseByName" resultType="com.array.commonmodule.bean.Course">
        select * from course where courseName=#{courseName}
    </select>
    <select id="findAllCourse" resultType="com.array.commonmodule.bean.Course">
        select * from course
    </select>
    <select id="findStudentByCourseId" resultType="com.array.commonmodule.bean.Student">
        SELECT s.* FROM course c LEFT JOIN user_course uc on c.courseId=uc.courseId LEFT JOIN student s ON uc.userId=s.userId WHERE c.courseId=#{courseId}
    </select>
    <select id="findHomeWorkByCourseId" resultType="com.array.commonmodule.bean.HomeWork">
        select * from homework where courseId=#{courseId}
    </select>
</mapper>