<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.array.messageservice.mapper.MessageMapper">
    <insert id="addMessage" parameterType="com.array.commonmodule.bean.Message">
        insert into message set messageId=#{messageId},messageContent=#{messageContent};

    </insert>
    <delete id="deleteMessage">
        delete from message where messageId=#{messageId}
    </delete>
    <select id="getMessageById" resultType="com.array.commonmodule.bean.Message">
        select * from message where messageId=#{messageId}
    </select>
    <select id="getMessageByUserId">
        select s.* from message m left join message_user mu on m.messageId=mu.messageId join student s on mu.userId=s.userId where s.userId=#{userId}
    </select>

</mapper>
<!--message-->
<!--        Long messageId;-->
<!--        String messageContent;-->

<!--message2user-->
<!--        Long userId;-->
<!--        Long messageId;-->
<!--        /**-->
<!--        * 1表示已读，0表示未读-->
<!--        */-->
<!--        int state;-->